<div class="container" *ngIf="user$ | async as user">
  <div class="info" routerLink="/u/{{user.username}}">
    <img [src]="user.profilePictureUrl" alt="Profilbild" id="profilepicture">
    <span class="username">{{user.username}}</span>
  </div>
  <div class="messages-wrap">
    <div class="messages">
      <div class="timestamp">
        {{ messages[0]?.timestamp }}
      </div>
      <div class="message" *ngFor="let message of messages" [class.sent]="message.receiver === user.username">
        {{ message.message }}
      </div>
    </div>
  </div>
  <div class="actions">
    <input id="message-input" [(ngModel)]="messageText" (keyup.enter)="sendMessage()">
    <button mat-flat-button color="primary" id="send-button" (click)="sendMessage()">
      Senden
      <mat-icon>
        send
      </mat-icon>
    </button>
  </div>
</div>
