$grey: #cecece;

.container {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}

.info {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $grey;
  height: 80px;
  img {
    width: 50px;
    height: auto;
    border-radius: 100%;
  }
  .username {
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 20px;
  }
}

.messages-wrap {
  overflow-y: auto;
  flex: 1 1;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.messages {
  display: flex;
  flex-direction: column;
  .timestamp {
    align-self: center;
    color: $grey;
    margin: 10px 0;
  }
  .message {
    padding: 10px 20px;
    border: 1px solid $grey;
    border-radius: 20px;
  }
  .message-wrap {
    align-self: flex-start;
    display: flex;
    margin-bottom: 8px;
    mat-icon {
      transform: scale(0.8);
      color: #cecece;
      align-self: flex-end;
    }
    &.sent {
      align-self: flex-end;
      .message {
        background-color: #e5e5ea;
        border: none;
      }
    }
  }
}

.actions {
  display: flex;
  padding: 20px;
  border-top: 1px solid $grey;
  height: 80px;
  #message-input {
    font-size: 1.1em;
    border: 1px solid $grey;
    border-radius: 5px;
    flex-grow: 1;
    padding: 5px;
    &:focus {
      outline: none;
    }
  }
  #send-button {
    margin-left: 20px;
  }
}
