<div class="header">
  <ng-container *ngIf="user$ | async as user">
    <div class="avatar-stats-section">
      <div class="picturewrapper">
        <img [src]="profilePictureUrl$ | async" alt="Profilbild" id="profilepicture">
      </div>
      <div class="info">
        <h2>{{user.username}}</h2>
        <div class="stats">
          <app-profile-header-stats value="?" title="Beiträge"></app-profile-header-stats>
          <app-profile-header-stats [value]="user.followerCount" title="Abonnenten"></app-profile-header-stats>
          <app-profile-header-stats [value]="user.followingCount" title="Abonniert"></app-profile-header-stats>
        </div>
      </div>
    </div>

    <mat-toolbar-row>{{user.profileDescription}}</mat-toolbar-row>
    <div class="action-section" *ngIf="!(isSelf$ | async)">
      <button mat-stroked-button (click)="follow()" *ngIf="!user.isBeingFollowed && !user.isFollowingMe">Folgen</button>
      <button color="primary" mat-flat-button *ngIf="!user.isBeingFollowed && user.isFollowingMe">Auch
        folgen</button>
      <button mat-stroked-button *ngIf="user.isBeingFollowed" (click)="unfollow()">Abonniert<mat-icon>expand_more
        </mat-icon></button>
      <button mat-stroked-button>Nachricht</button>
    </div>
  </ng-container>
</div>
