.container {
  padding-top: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 0.2em;
}

hr {
  margin-bottom: 2em;
}

.error-message {
  color: var(--warn-color);
  height: 0;
  margin: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  &.shown {
    height: 3em;
  }
}
