<div id="search-wrap">
  <input type="text" id="search" [(ngModel)]="search" (ngModelChange)="searchChange($event)" (keyup.enter)="trigger()">
  <div id="search-bar">
    <mat-icon>search</mat-icon>
    <span *ngIf="!search; else spacer">Suchen</span>
    <ng-template #spacer>
      <span>
        <span id="textnofocus">{{search}}</span>
      </span>
    </ng-template>
    <mat-icon id="close" (mousedown)="clear()">close</mat-icon>
  </div>
  <div id="results" *ngIf="searchResults$ | async as results">
    <div id="corner"></div>
    <div *ngFor="let result of results" class="result">
      <a routerLink="/u/{{result.username}}">
        <img [src]="result.profilePictureUrl">
        <span>{{result.username}}</span>
      </a>
    </div>
  </div>
</div>
