<nav>
  <div class="container">
    <div id="brand" routerLink="/">
      <img src="/assets/img/logo_black.png" id="logo">
      <div class="seperator"></div>
      <h1>
        Instatonne
      </h1>
    </div>
    <app-search-bar></app-search-bar>
    <div class="icons">
      <mat-icon routerLink="/create">add</mat-icon>
      <mat-icon routerLink="/u">person</mat-icon>
      <mat-icon routerLink="/m" [matBadge]="newMessages$ | async">mail</mat-icon>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
