html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafc;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 10px;
  @media screen and (min-width: 600px) {
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    max-width: 900px;
  }
}

.color-warn {
  color: var(--warn-color) !important;
}
