<div class="container" *ngIf="user$ | async as user">
  <img [src]="user.profilePictureUrl" alt="Profilbild" id="profilepicture">
  <div class="register-intro" *ngIf="register">
    <h2>Willkommen auf Instatonne, @{{user.username}}!</h2>
    <p>
      Du kannst noch deinen Namen und einen Steckbrief angeben.
      Diese Informationen kannst Du natürlich jederzeit in deinem Profil bearbeiten.
    </p>
  </div>
  <form [formGroup]="profileEditForm" (ngSubmit)="commitEdit()">
    <mat-form-field *ngIf="!register">
      <mat-label>Benutzername</mat-label>
      <input autocomplete="off" matInput formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input autocomplete="off" matInput formControlName="altName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Steckbrief</mat-label>
      <textarea autocomplete="off" matInput placeholder="Beschreibe dich in ein paar Worten."
        formControlName="profileDescription"></textarea>
    </mat-form-field>
    <button mat-flat-button color="accent" type="submit">{{ register ? 'Weiter' : 'Speichern'}}</button>
  </form>
</div>
